<div class="columns">
  <div class="column">
    <div class="header">
      <h1 class="title">Map code</h1>
    </div>

    <div class="content">

      <p>This is the pages description...</p>

      <p class="control is-loading">
        <textarea class="textarea" readonly="">Here comes the code</textarea>
      </p>

      <p class="control">
        <input class="input" type="text" readonly="" value="http://wild_link_to_the_map.dk/xxxx">
      </p>

      <p class="control is-right">
        <a class="button is-primary" data-ng-click="close()">
          <i class="fa fa-power-off "></i>
          Close
        </a>
      </p>

    </div>
  </div>
</div>
