<div class="columns">
  <div class="column">
    <div class="header">
      <h1 class="title">Layer configuration ({{ properties.name }})</h1>
    </div>

    <div class="content">

      <p style="color: {{ color }}">This is the pages description...</p>


      <color-picker ng-model="color"
                    color-picker-format="'rgb'"
                    color-picker-alpha="true"
                    color-picker-swatch="true"
                    color-picker-swatch-pos="left"
                    color-picker-swatch-only="true"
                    color-picker-on-change="onColorChange($event, color)">
      </color-picker>

      <!-- Close button -->
      <p class="control is-right">
        <a class="button is-primary" data-ng-click="close()">
          <i class="fa fa-power-off "></i>
          Close
        </a>
      </p>
    </div>
  </div>
</div>
