<section class="hero is-info is-left is-bold">
  <div class="hero-header">
    <header class="header">
      <div class="container">

        <!-- Logo -->
        <div class="header-left">
          <a class="header-item" href="/">
            <img src="../images/logo.png">
          </a>
        </div>

        <!-- Mobile menu -->
        <span id="header-toggle" class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <!-- Main menu -->
        <div id="header-menu" class="header-right header-menu">
          <span class="header-item">
            <a href="#/">
              <span class="icon is-small">
                <i class="fa fa-home"></i>
              </span>
              Home
            </a>
          </span>
          <span class="header-item">
            <a class="button is-info is-outlined is-inverted" href="#/login">
              <span class="icon is-small">
                <i class="fa fa-sign-in"></i>
              </span>
              Login
            </a>
          </span>
        </div>

      </div>
    </header>
  </div>

  <!-- Header content -->
  <div class="hero-content">
    <div class="container">
      <p class="title">
        Maps creation
      </p>
      <p class="subtitle">
        Everything you need to <strong>create maps</strong> for web-sites
      </p>
    </div>
  </div>
</section>
