<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h1 class="title">Login</h1>
            <p>Edit existing map by logging in with the credentials received
              when creating the map.
            </p>

            <p class="control is-withicon">
              <input class="input" type="email" placeholder="Map ID" data-ng-model="map.id">
              <i class="fa fa-map"></i>
            </p>

            <p class="control is-withicon">
              <input class="input" type="password" placeholder="Password" data-ng-model="user.pass">
              <i class="fa fa-lock"></i>
            </p>

            <p class="control is-right">
              <a class="button is-success">
                <i class="fa fa-sign-in"></i>
                Login
              </a>
            </p>

          </div>
        </div>
      </div>
    </div>
</section>
