<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="content">
          <h2 class="title">Select data sets</h2>
          <ul>
            <li>Befolkeningstal <i class="icon is-small fa fa-plus-square"></i></li>
          </ul>
        </div>
      </div>

      <div class="column is-half">
        <div class="content">
          <h2 class="title">Configure data sets</h2>
          <ul>
            <li>Befolkeningstal <i class="icon is-small fa fa-cogs"></i></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="columns">
      <div class="column">
        <div class="content">

          <h1 class="title">Configure map</h1>
          <p>Default map configurations (area, zoom level etc.)</p>

          <p class="is-centered">
            <a class="button is-success" data-ng-click="createClick()">
              <i class="fa fa-code"></i>
              &nbsp;Generate
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
