<div class="columns">
  <div class="column">
    <div class="header">
      <h1 class="title">Basic maps configuration</h1>
    </div>

    <div class="content">

      <p>Change default colors for features/layers, line style and color etc.</p>
      <p>Zoom level</p>
      <p>Zoom to feature</p>
      <p>Allow zoom</p>


      <!-- Close button -->
      <p class="control is-right">
        <a class="button is-primary" data-ng-click="close()">
          <i class="fa fa-power-off "></i>
          Close
        </a>
      </p>
    </div>
  </div>
</div>
