/******************
 * Helpers
 ******************/
.is-right {
  text-align: right;
}

.is-center {
  text-align: center;
}

.is-left {
  text-align: left;
}

.mouse-pointer {
  cursor: pointer;
}

/******************
 * Map layers
 ******************/
.layer-select-option {
  display: block;
}

/******************
 * Modal / overlay
 ******************/
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.modalDialog > div {
  background-color: #FFF;
  border-radius: 3px;
  position: relative;
  margin: 10% auto;
  width: 50%;
  z-index: 200;
}

.modalDialog .header {
  background-image: linear-gradient(141deg, #0FB8AD 0%, #1FC8DB 71%, #2CB5E8 100%);
  border-radius: 3px;
  padding: 10px;
}

.modalDialog .content {
  padding: 10px;
}
